[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests /opt/bin
ExecStartPre=/bin/sh -c "test -x /opt/bin/kubelet || wget -O /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v{{K8S}}/bin/linux/amd64/kubelet"
ExecStartPre=/bin/sh -c "chmod +x /opt/bin/kubelet"
ExecStart=/opt/bin/kubelet \
  --api-servers=http://127.0.0.1:8080 \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --cluster-dns=10.3.0.254 \
  --cluster-domain=cluster.local \
  --hostname-override={{ADVERTISE_IP}} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
